Install Python3

Python Libraries Required:

- colorama
- pytz
- discord-webhook

Required Tools:

1. subfinder:
To install subfinder, run the following command:

go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest

2. dnsx:
To install dnsx, run the following command:

go install -v github.com/projectdiscovery/dnsx/cmd/dnsx@latest

3. httpx:
To install httpx, run the following command:

go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest

Attention!

For the tool to work correctly, ensure that both the BS-Watch and resolvers directories, along with all their contents, are located in the /root/ path. If your setup differs, please review and adjust the paths in the relevant directories to suit your needs.
